:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding-bottom: 60px; /* Add padding to prevent footer overlap */
  overflow-y: auto;
  position: relative; /* Added for router animations */
  overflow: hidden; /* Added for router animations */
}

router-outlet {
  display: block; /* Ensure router-outlet is a block element for animations */
}

footer {
  flex-shrink: 0;
}
